@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #161515;
}


.quiz-card {
  padding: 10px;
  background-color: #8fcf87; /* Main green background */
  border-radius: 12px;
}

.level-block {
  width: 32px;
  height: 32px;
  border: 2px solid black;
}

.bg-black {
  background-color: black;
}
